.feedback__wrapper {
  margin-bottom: 38px;
}

.feedback__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.feedback__text--feedback {
  color: @text-color-wet-asphalt;
}

.feedback__user-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.feedback__user-nickname {
  font-size: 17px;
}
