// Base-page-colors
@page-background-white: #ffffff;
@text-color-black: #000000;
@text-color-white: #ffffff;
@text-color-wet-asphalt: #444444;
@text-color-tiffany: #63d1bb;
@text-spetial-white: rgba(255, 255, 255, 0.3);
@text-email-link-emerald: #46c1ae;
@text-product-hover: rgba(0, 0, 0, 0.6);
@text-product-active: rgba(0, 0, 0, 0.3);
@text-nav-hover: rgba(0, 0, 0, 0.6);

// Colors BG
@bg-grey: #f1f1f1;
@page-main-bg-grey: #f8f8f8;
@bg-tiffany: #63d1bb;
@bg-dark-tiffany: #56c3b2;
@catalog-nav-img-tiffany: #149080;
@bg-wet-asphalt: #444444;
@fill-icon-emerald: #46c1ae;
@black-bg: #000000;
@white-bg: #ffffff;
@bg-modal-overlay: rgba(255, 255, 255, 0.9);

// Border - elements
@footer-border-special-grey: #e5e5e5;
@border-grey: #ececec;
@border-black: #000000;
@social-icon-special-black: #231f20;
@main-nav-icon-special-black: #231f20;
@border-wet-asphalt: #444444;
@border-tiffany: #63d1bb;
@form-elements-color: #62D1BA;
@catalog-elements-color: #62D1BA;
@border-modal: #c6c6c6;
@border-modal-filter: rgba(0, 0, 0, 0.1);
@border-modal-filter-hover: rgba(0, 0, 0, 0.3);

// Shadows
@modal-box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
@main-nav-toggle-box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
@catalog-box-shadow-hover: 0px 6px 10px rgba(0, 0, 0, 0.1);
@catalog-box-shadow-active: 0px 3px 5px rgba(0, 0, 0, 0.1);

// Viewports
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width: 320px;
